---
krb5_default_realm: EXAMPLE.COM

timesyncd_ntpsvr: ntp.example.com

realmd_realm: example.com

realm_user: Administrator
realm_ou: OU=Computers,OU=EXAMPLE,DC=example,DC=com
realm_domain: example.com
realm_passwd: Password!

smbconf_realm: EXAMPLE.COM
smbconf_wrkgrp: EXAMPLE
